.table-container {
  margin-bottom: 1rem;

  display: flex;

  justify-content: center;

  gap: 0.5rem;

  font-size: 1.125rem;

  line-height: 1.75rem;
}

.table-wrapper {
  display: table;

  border-width: 1px;

  border-color: rgb(31, 41, 55);
}

.table-heading-row {
  border-width: 1px;

  border-color: rgb(31, 41, 55);

  background-color: rgb(209, 213, 219);
}

.table-heading {
  border-width: 1px;

  border-color: rgb(31, 41, 55);
}

.table-row {
  border-width: 1px;

  border-color: rgb(31, 41, 55);

  text-align: center;
}

.table-name-column {
  border-width: 1px;

  border-color: rgb(31, 41, 55);

  background-color: rgb(243, 244, 246);
}

.table-data {
  border-width: 1px;

  border-color: rgb(31, 41, 55);
}
